#icon {
  margin-left: 27%;
}

#text {
  margin-top: -43px;
  margin-left: 30%;
}

#iconn {
  margin-top: -37px;
  margin-left: 70%;
}

#iconnn {
  margin-top: -44px;
  margin-left: 72%;
}

.material {
  font-size: 20px;
}

#edit {
  font-size: 20px;
  color: #84818a;
  margin-top: 8px;
}

#delete {
  font-size: 20px;
  color: #84818a;
}

button {
  margin-left: 21%;
  background-color: #5a28b2;
  color: #fff;
}
